<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tehran Space</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <h1>Hi Tehran Space Users</h1>
    <form action="/story" method="post">
        <textarea name="story" cols="30" rows="10"></textarea>
        <button type="submit">Send Story</button>
    </form>
    

    <ul>
    <% for(story of stories) { %>
        <li><%= story.story %></li>
    <% } %>
    </ul>
</body>
</html>
