<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Tehran Space - login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body style="background-color:rgb(0, 171, 223)">
    <div class="signin-form profile", align = "center">
        <h3>Login</h3>
        
        <div class="login-form">
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="username" required=""><br/><br/>
                <input type="password" name="password" placeholder="Password" required=""><br/><br/>
                <input type="submit" value="LOGIN NOW"><br/><br/>
            </form>
        </div>
    </div>
</body>
</html>
